* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#editor, #mdEdView {
    width: 270.71999999999997px;
    height: 554.88px;
    background-color: black;
    background-clip: content-box;
    padding: 10px;
    border: 1px solid black;
    border-radius: 1rem;
    color: white;
}
#edBox{

    background-color: black;

}